pandas==2.1.4
requests==2.31.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
schedule==1.2.1
streamlit
mlflow
notebook
numpy
scikit-learn
matplotlib
dotenv
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
fastapi==0.104.1
uvicorn==0.24.0
hopsworks==3.4.0
-e .