pandas
requests
psycopg2-binary
python-dotenv
schedule
streamlit
mlflow
notebook
numpy
scikit-learn
matplotlib
dotenv
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
fastapi
uvicorn
hopsworks[python]
-e .