numpy
pandas
polars
scikit-learn

fastapi==0.109.2
pydantic==1.10.12
uvicorn

python-dotenv
python-box
pyYAML
joblib
requests
ensure

mlflow
hopsworks[python]==4.2.*   # pinned for client compatibility

streamlit
plotly
pytz
lightgbm